body {
  background-color: #e9ecef;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.card {
  margin-bottom: 20px;
}

.form-inline {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  max-width: 800px;
}
